{% if site.category_sidebar %}
<section>
<h1>Categories</h1>
<ul>
  <li><a href='/blog/categories/android'>Android (66)</a></li>
  <li><a href='/blog/categories/android-note'>Android:note (6)</a></li>
  <li><a href='/blog/categories/android-training'>Android:training (60)</a></li>
  <li><a href='/blog/categories/android-training-cloud'>Android:training:cloud (2)</a></li>
  <li><a href='/blog/categories/android-training-connectivity'>Android:training:connectivity (7)</a></li>
  <li><a href='/blog/categories/android-training-graphics'>Android:training:graphics (5)</a></li>
  <li><a href='/blog/categories/android-training-multimedia'>Android:training:multimedia (6)</a></li>
  <li><a href='/blog/categories/android-training-performance'>Android:training:performance (10)</a></li>
  <li><a href='/blog/categories/android-training-sharing'>Android:training:sharing (3)</a></li>
  <li><a href='/blog/categories/android-training-ui'>Android:training:ui (5)</a></li>
  <li><a href='/blog/categories/android-training-userinfo'>Android:training:userinfo (3)</a></li>
  <li><a href='/blog/categories/java'>Java (1)</a></li>
  <li><a href='/blog/categories/life'>Life (1)</a></li>
</ul>
</section>
{% endif %}
