{% if site.category_sidebar %}
<section>
<h1>Categories</h1>
<ul>
  <li><a href='/blog/categories/android'>Android (102)</a></li>
  <li><a href='/blog/categories/android-deeper'>Android:deeper (2)</a></li>
  <li><a href='/blog/categories/android-notes'>Android:notes (10)</a></li>
  <li><a href='/blog/categories/android-performance'>Android:performance (22)</a></li>
  <li><a href='/blog/categories/android-training'>Android:training (75)</a></li>
  <li><a href='/blog/categories/google'>Google (1)</a></li>
  <li><a href='/blog/categories/java'>Java (1)</a></li>
  <li><a href='/blog/categories/life'>Life (1)</a></li>
</ul>
</section>
{% endif %}
