{% if site.category_sidebar %}
<section>
<h1>Categories</h1>
<ul>
  <li><a href='/blog/categories/android'>Android (72)</a></li>
  <li><a href='/blog/categories/android-deeper'>Android:deeper (2)</a></li>
  <li><a href='/blog/categories/android-notes'>Android:notes (7)</a></li>
  <li><a href='/blog/categories/android-training'>Android:training (63)</a></li>
  <li><a href='/blog/categories/java'>Java (1)</a></li>
  <li><a href='/blog/categories/life'>Life (1)</a></li>
</ul>
</section>
{% endif %}
