---
layout: post
title: "About hukai.me"
footer: false
sidebar: true
comments: true
---

<div id="about">
  <section>
  <br>Hi,我是胡凯,Android程序员,目前在腾讯上海工作。</br>
  <br>欢迎访问我的网站进行交流。</br>
  <br></br>
  <h2>About Me</h2>
	<br>Hi,I'm Kesen. A programmer from Tencent, base on Shanghai, China.</br>
	<br>If you want to get in touch with me, <a href="mailto::kesenhoo@gmail.com">email</a> is best.</br>
	<br>I'm also on <a href="https://github.com/kesenhoo" target="_blank">GitHub</a> and <a href="http://blog.csdn.net/kesenhoo" target="_blank">CSDN.</a></br>
	<br></br>
  <h2>About Blog</h2>
	<br>Powered by <a herf="https://github.com" target="_blank">Github</a> & <a herf="http://octopress.org/" target="_blank">Octopress</br>
  <!--
  <embed src="http://player.youku.com/player.php/sid/XMzExMzIxODA0/v.swf" quality="high" width="640" height="480" align="middle" allowScriptAccess="sameDomain" allowFullscreen="true" type="application/x-shockwave-flash"></embed>
  -->
  </section>

  <!--
  {% if site.disqus_short_name %}
  <section>
    <h2>Comments</h2>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
  {% endif %}
  -->
</div>