---
layout: post
title: "关于我"
footer: false
sidebar: true
comments: true
---

<div id="about">
  <section>
  <br>Hi，我是<b>胡凯</b>，就职于腾讯从事Android开发的工作。有任何问题，你可以直接写<a href="mailto:hukai.me@gmail.com"><b>邮件</b></a>给我，也可以通过<a href="http://weibo.com/kesenhoo" target="_blank"><b>微博</b></a>联系到我，另外还可以关注我的<a href="https://github.com/kesenhoo" target="_blank"><b>Github</b></a>，欢迎一起学习交流！</br>

  <br>Hi,I'm HuKai.Android programmer from Tencent,base on Shanghai,China.If you want to get in touch with me,<a href="mailto:hukai.me@gmail.com">email</a> is best. I'm also on <a href="https://github.com/kesenhoo" target="_blank">GitHub</a> and <a href="https://twitter.com/kesenhoo" target="_blank">Twitter.</a>
	<br></br>
  <!--
  <embed src="http://player.youku.com/player.php/sid/XMzExMzIxODA0/v.swf" quality="high" width="640" height="480" align="middle" allowScriptAccess="sameDomain" allowFullscreen="true" type="application/x-shockwave-flash"></embed>
  -->
  </section>

  <!--
  {% if site.disqus_short_name %}
  <section>
    <h2>Comments</h2>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
  {% endif %}
  -->
</div>